
.ant-slider .ant-slider-handle::after .ant-slider-handle:hover::after .ant-slider-handle:focus::after{
    height: 100%;
    width: 100%;
}
.ant-slider .ant-slider-handle::before .ant-slider-handle:hover::before{
    height: 100%;
    width: 100%;
}


.ant-slider-horizontal .ant-slider-rail {
    width: 100%;
    height: 19px;
}

.ant-slider .ant-slider-dot {
    display: none;
}

.ant-slider .ant-slider-mark-text {
    margin-top: 2%;
}
:where(.css-dev-only-do-not-override-4tx9o7).ant-slider .ant-slider-handle::after {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 25px;
    height: 25px;
    background-color: #f8f8f8;
    box-shadow: 0 0 0 2px #a8bf5c;
    outline: 0px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: inset-inline-start 0.2s, inset-block-start 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s, outline 0.2s;
}

:where(.css-dev-only-do-not-override-4tx9o7).ant-slider .ant-slider-handle:hover::after, :where(.css-dev-only-do-not-override-4tx9o7).ant-slider .ant-slider-handle:active::after, :where(.css-dev-only-do-not-override-4tx9o7).ant-slider .ant-slider-handle:focus::after{
    width: 25px;
    height: 25px;
}

div.ant-slider-handle.ant-tooltip-open::after {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 25px !important;
    height: 25px !important;
    background-color: #f8f8f8;
    box-shadow: 0 0 0 2px #a8bf5c;
    outline: 0px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: inset-inline-start 0.2s, inset-block-start 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s, outline 0.2s;
}

div.ant-slider-handle.ant-tooltip-open:hover::after {
    width: 25px !important;
    height: 25px !important;
}

.ant-slider-handle:hover::after{
    width: 25px !important ;
    height: 25px !important;
}

:where(.css-dev-only-do-not-override-4tx9o7).ant-slider .ant-slider-handle:hover::after, :where(.css-dev-only-do-not-override-4tx9o7).ant-slider .ant-slider-handle:active::after, :where(.css-dev-only-do-not-override-4tx9o7).ant-slider .ant-slider-handle:focus::after {
    box-shadow: 0 0 0 2.5px #669800;
    outline: 6px solid rgba(102, 152, 0, 0.2);
    width: 12px;
    height: 12px;
    inset-inline-start: -1px;
    inset-block-start: -1px;
}

:where(.css-dev-only-do-not-override-oqfneu).ant-slider-tooltip .ant-tooltip-inner {
    min-width: unset;
    background: #669800;
    animation: flashTooltip 1s infinite alternate; /* Continuous flashing */
    font-size: 18px; /* Increase font size */
    font-weight: bold;
}

:where(.css-dev-only-do-not-override-oqfneu).ant-tooltip .ant-tooltip-arrow:before {
    background: #669800;
    animation: flashTooltip 0.8s infinite alternate; /* Continuous flashing for arrow */
}

@keyframes flashTooltip {
    0% { transform: scale(1); background-color: #669800; }
    50% { transform: scale(1.3); background-color: #a2d000; }
    100% { transform: scale(1); background-color: #669800; }
}

