.invoice-page {
  padding: 20px;
  background-color: #f0f2f5;
  min-height: 100vh;
}



.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.invoice-table th, .invoice-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.invoice-table th {
  background-color: #001529;
  color: #fff;
  text-align: left;
}

.invoice-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.invoice-table tr:hover {
  background-color: #ddd;
}
