.ant-statistic-content-value-int {
    color: white;
}
.ant-statistic-content-suffix{
    color: white;
}
.ant-statistic-content-value-decimal {
    color: white;
}

.ant-statistic-content-value {
    color: white;
}