/* Global Styles */
#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Inter', sans-serif; /* Apply the Inter font globally */
}

/* Logo Styles */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #669800) !important; /* Primary color on hover */
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb) !important; /* React color */
}

/* Logo Spin Animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animation for no-reduced-motion preference */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear !important;
  }
}

/* Card Styles */
.card {
  padding: 2em;
  background-color: #FFFFFF !important; /* Card background color */
  border-radius: 8px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #E6E8F1 !important; /* Stroke/border color */
}

/* Read The Docs Link */
.read-the-docs {
  color: #9A8406 !important; /* Link color */
}

.read-the-docs:hover {
  text-decoration: underline !important;
  color: #669800 !important; /* Change link color on hover to primary */
}

.login-title {
  text-align: center;
  font-size: 24px !important;
  font-weight: bold !important;
  color: #669800 !important; /* Primary color */
  margin-bottom: 20px !important;
}


.progress-bar-container {
  position: relative;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
}

.progress-bar {
  display: flex;
  position: relative;
  height: 30px;
}

.progress-stage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border-right: 1px solid #fff;
}

.progress-stage.completed {
  background-color: #28a745;
}

.progress-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 123, 255, 0.5);
  z-index: -1;
  transition: width 0.3s ease-in-out;
}

.stage-label {
  font-size: 14px;
  white-space: nowrap;
}
